$white-color: #fff;
$blue-color: #95e1d3;
$gray-color: #333;
$yellow-color: #fce38a;
$pink-color: #f38181;
$silver-color: #999999;
$whitegold-color: #e5e5e5;
$peak-color: #f6a6a6;
$snow-color: #e7e7e7;
$ff-kaushan: 'Kaushan Script', cursive;
$ff-roboto: 'Roboto';


