.info {
    min-height: 100vh;
    background-image: url(../images/eagle.jpg);
    background-position: center;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
.info-wrap {
    width: 100%;
    min-height: 100vh;
    padding: 229px 0 231px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(239, 138, 138, 0.9)),to(rgba(241, 214, 138, 0.9)));
    background-image: -o-linear-gradient(top,rgba(239, 138, 138, 0.9),rgba(241, 214, 138, 0.9));
    background-image: linear-gradient(to bottom,rgba(239, 138, 138, 0.9),rgba(241, 214, 138, 0.9));
}

.info-container {
    max-width: 860px;
    margin: 0 auto;
    &__text {
        text-align: center;
        font-family: $ff-kaushan;
        font-size: 72px;
        line-height: 1.2;
        margin: 0 auto 42px;
        color: $white-color;
    } 
    &__title {
        max-width: 860px;
        margin: 0 auto 125px;
        text-align: center;
        font-size: 150px;
        font-weight: 700;
        color: $white-color;
        text-transform: uppercase;
        line-height: 1.2;
    }
    &__button {
        display: block;
        padding: 15px 33px;
        border: 2px solid $white-color;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
        color: $white-color;
        width: 160px;
       margin: 0 auto;    
    }
}




